<div class="row bg-dark text-light m-0 pt-3" (window:resize)="onResize($event)">
  <h1 class="text-left col-md-4 col-sm-0 pt-3">{{opening}}</h1>
  <div class="text-center col-md-4">
      <p class="m-0">
          <a class="text-light mx-2" href="https://github.com/E-Kaese" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a class="text-light mx-2" href="https://www.linkedin.com/in/ernst-kaese/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a class="text-light mx-2" href="https://www.instagram.com/ernst_kaese/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a class="text-light mx-2" href="mailTo:ernstkaese@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </p>
      <p class="text-light phone"><i class="fa fa-phone" aria-hidden="true"></i> (+27)71 108 7685</p>
  </div>
  <h1 class="text-right col-md-4 col-sm-0 pt-3">{{closing}}</h1>
</div>