<div class="row bg-dark text-light m-0 pt-3" (window:resize)="onResize($event)">
  <h1 class="text-left col-md-4 col-sm-0 pt-3">{{opening}}</h1>
  <div class="text-center col-md-4">
      <!-- <p class="m-0">
          <a class="text-light mx-2" href="mailTo:ernstkaese@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </p> -->
      <p class="text-light"><i class="far fa-envelope-open"></i> ernstkaese@gmail.com</p>
      <p class="text-light"><i class="fas fa-phone"></i> (+27)71 108 7685</p>
  </div>
  <h1 class="text-right col-md-4 col-sm-0 pt-3">{{closing}}</h1>
</div>