*{
    font-family: 'Inconsolata', monospace;
    height: auto;
}

.navbar-nav{
    margin: 0px;
    padding: 0.5% 0%;
    background-color: #2A3948;
    height: auto;
    box-shadow: 0px 4px 5px #747474;
}

li a{
    color: #33cccc;
    background-color: #2A3948;
    text-shadow: none;
    font-size: 20px;
    margin: 0px 2%;
}

li a:hover{
    color: #33cccc;
    border: 2px solid #33cccc;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0px 1%;
}

.nav > li > a:hover{
    background-color: #2A3948;
}

body{
    background-image: url("../img/blue background.jpg");
    animation: animatedBackground 60s linear infinite;
    font-size: 18px;
    padding-top: 3rem;
}

.panel{
    margin: 4% 0px;
    background-color: #393939;
    border: none;
    border-top: 3px solid #388186;
    box-shadow: 0px 10px 15px #3A96AF;
    border-radius: 0px;
}

.panel-body{
    color: #A8ACB0;
}

.centerText{
    text-align: center;
}

.subjects{
    margin-left: 45%;
}

.button{
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    width: 100%;
    background: transparent;
    border: 3px solid #388186;
    border-radius: 5px;
    color: #4c6983;
}

.mediaButtons{
    width: auto;
}

.arrows{
    vertical-align: middle;
    padding-top: 5%;
}

@media screen and (max-width: 991px){
    .arrows{
        display: none;
    }

    .mediaButtons{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    body{
        padding-top: 22rem;
    }

    .panel{
        margin: 2% 3%;
    }

    .subjects{
        margin-left: 10%;
    }
}

h4{
    text-decoration: underline;
    font-size: 20px;
    color: #2980b9;
}

p{
    font-size: 18px;
}

.textField{
    width: 100%;
    margin: 1%;
    background-color: #747474;
    color: white;
}

.textArea{
    width: 100%;
    margin: 1%;
    height: 5%;
    background-color: #747474;
    color: white;
}

.face{
    width: 40%;
    box-shadow: 5px 5px 5px #3A96AF;
    border: 3px solid #388186;
    border-radius: 10px;
}

.button:hover{
    box-shadow: 0px 0px 5px #747474;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

#MadSkillsPanel{
    padding-left: 5%;
}

.float {
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
  
.float:hover {
    -webkit-transform:translate(0px,-8px);
    -moz-transform:translate(0px,-8px);
    -ms-transform:translate(0px,-8px);
    -o-transform:translate(0px,-8px);
    transform:translate(0px,-8px);
}