.navbar-nav{
    margin: 0px;
    padding: 5px;
    background-color: #353535;
    height: auto;
}

li a{
    color: skyblue;
    background-color: #353535;
    text-shadow: none;
    font-size: 20px;
}

li a:hover{
    color: skyblue;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 13px;
}

.nav > li > a:hover{
    background-color: #353535;
}